@{
    ViewData["Title"] = "Home Page";
}
<div class="carousel-inner">
    <div class="carousel-item position-relative active" style="min-height: 100vh;">
        <img class="position-absolute w-100 h-100" src="https://cftestatalaricayparinacota.cl/wp-content/uploads/2022/01/logo_fix.jpg" style="object-fit: cover;">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
            <div class="p-3 text-center" style="max-width: 1000px; color: black;">
                <h3 class="display-3 text-capitalize text-red mb-8">mantenimiento de equipos </h3>
                <h6 class="text-red text-uppercase mb-3 animate__animated animate__fadeInDown" style="letter-spacing: 3px;">seleccione una de las 3 opciones </h6>
                

                <a class="btn btn-primary" asp-controller="Clientes" asp-action="index">Clientes</a>


                <a class="btn btn-danger" asp-controller="Usuarios" asp-action="index">usuarios </a>
                <a class="btn btn-info" asp-controller="Servicios" asp-action="index">servicios</a>
                <a class="btn btn-info" asp-controller="Recepcionequipoes" asp-action="index">Recepcion </a>
               
                
            </div>
        </div>
    </div>
</div>
